.body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    background-color: #E5E5E5;
}

/* <!-- Main (главная коробочка) --> */
.main {
    
    display: flex;
    flex-direction: row-reverse;
    background-color: #E5E5E5;
    width: 1200px;
    height: 1399px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);


}
/* <!--Sidebar (коробочка для упровления)--> */ 

.sidebar {
    
background-color: #1E2939;
    padding-top: 40px;
    width: 360px; 
    
}
.contacts,
.tech-skills,
.soft-skills {
    /* position: absolute; */
    margin-left: 40px;
    margin-bottom: 45px;
    
}

.contacts {
    margin-bottom: 50px;
}
.photo {
width: 360px;
margin-bottom: 50px;
}

.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;

}
.contact-link,
.contact-link-mail
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #48515E;

    
}
.contact-link {
    text-decoration: none;
}
/* офформления стилей по тексту */
/* letters в sidebar C E */
.letters {
    /* position: absolute; */
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}
.text-skill-list,
.soft-skill-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
   
}
.tech-skill-item,
.soft-skill-item {
    color: #FB6D3A;
}
.tach-skill-text,
.soft-skill-text {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
/* <!-- Main content (коробочка для наполнения)--> */
.main-content {
    width: 525px;
    background-color:#FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 217px 105px 90px;
}
.main-position{
    font-style: normal;
        font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            margin-bottom: 20px;
}


.main-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 25px;
}
.main-description{
font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}
.main-user {
    padding-bottom: 20px;
}

.main-information {
    margin-bottom: 40px;
}
.title {
     font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
        margin-bottom: 10px;
        position: 0;
}

.projekt-title {

font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px; 
    color: #000000;
}
.projekt {
    padding: 0;
    margin-left: 12px;
font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projekt-title-a {
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
}
.her-projekt-title-a {
    text-decoration: none;
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
}
.bracket {
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
}
.work-position {
font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
/* цвет названия организации */
.organization {
font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.work-data {
    font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #A8A8A8;
        margin-bottom: 10px;
       
}
.line {
    font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
}
.work-line {
    padding: 0;
    margin-left: 20px; 
}
.work-line-item {
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
}
.main-name {
    /* font-family: 'Montserrat'; */
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
}
/* <!-- about user (контэйнер с ссылками на работу)--> */
/* .about-user {
    background-color: #FFFFFF;
} */

/* <!--Work(контэйнер по местам работы)--> */
/* .work {
    background-color: #FFFFFF;
} */